[submodule "modules/ardupilot"]
	path = modules/ardupilot
	url = https://github.com/ArduPilot/ardupilot/
[submodule "modules/gdbstub"]
	path = modules/gdbstub
	url = https://github.com/daniel5151/gdbstub.git
